{{template "header.html"}}


<div class="p-16 bg-gray-100">
    <section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
        <h1 class="flex justify-center text-lg font-bold text-green-800 capitalize dark:text-white">User Info</h2>

            <form action="/user/{{.User.ID}}/update" method="post">

                {{ template "userform.html" .}}
                
                <div class="flex justify-center mt-6">
                    <button type="submit"
                        class="rounded-md bg-teal-600 px-16 py-2.5 text-sm font-medium text-white shadow hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Submit</button>
                </div>
            </form>
    </section>
</div>


{{ template "footer.html"}}