{{template "header.html"}}






<div class="m-8 p-16 bg-gray-100">

    <section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
        <form class="" action="/mark/input-mark" method="Post">
            <h1 class="text-teal-800 flex justify-center text-lg mb-6">Add Subject</h1>
            <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">

            <div class="grid md:grid-cols-2 md:gap-12">

                <div class="relative z-0 w-full mb-6 group">
                    <label for="class"
                        class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Select
                        A Class</label>

                    <select name="Class" id="" class="text-gray-900 text-sm  w-full" value="{{.Class.ClassName}}">
                        <option value="">Select A Class
                        <option>
                            {{ range .ClassList}}
                        <option value="{{.ID }}">{{.ClassName}}</option>
                        {{ end }}
                    </select>
                </div>





                <div class="relative z-0 w-full mb-6 group">
                    <label for="class"
                        class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Select
                        A Student</label>

                    <select name="Student" id="" class="text-gray-900 text-sm  w-full" value="{{.Class.ClassName}}">
                        <option value="">Select A Student
                        <option>
                            {{ range .StudentList}}
                        <option value="{{.ID }}">{{ .FirstName }} {{ .LastName }}</option>
                        {{ end }}
                    </select>
                </div>

            </div>





            <div class="flex justify-center mt-auto">

                <button class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </section>
</div>

{{ template "footer.html"}}